.check {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  text-align: center;

  &-month {
    color: $primary-color;
  }

  &-year {
    color: $secondary-color;
  }
}

input {
  appearance: none;
  position: relative;
  width: 10%;
  min-width: 70px;
  max-width: 90px;
  height: 30px;
  border-radius: 15px;
  background-color: #CCCCCC;
  transition: background 0.3s;
  outline: none;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    top: 17%;
    left: 5%;
    transition: translate(-50%, -50%);
    border-radius: 50%;
    height: 1.25rem;
    width: 1.25rem;
    background-color: $white-color;
    box-shadow: 0 0 3px $shadow-pink, 0 0 5px $shadow-blue;
    transition: left 0.3s;
  }

  &:checked {
    background: linear-gradient(90deg, $primary-color, $secondary-color);

    &::after {
      left: 65%;
    }
  }
}
